:root {
  --header--background--color: rgb(58, 58, 58);
  --header--background--inner--color: rgb(49, 49, 49);
  --header--border--color: rgb(99, 99, 99);
  --header--color: rgb(118, 167, 187);
  --header--text: rgb(235, 235, 235);
  --content--text--placeholder: #ebebebc2;
  --content--dday--color: rgb(136, 111, 94);
  --content--check--color: rgb(196, 89, 2);
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--header--background--color);
} /* 스크롤 바 밑의 배경 */
::-webkit-scrollbar-thumb {
  background: var(--content--text--placeholder);
} /* 실질적 스크롤 바 */
::-webkit-scrollbar-thumb:hover {
  background: var(--content--text--placeholder);
} /* 실질적 스크롤 바 위에 마우스를 올려다 둘 때 */
::-webkit-scrollbar-thumb:active {
  background: var(--content--text--placeholder);
} /* 실질적 스크롤 바를 클릭할 때 */
::-webkit-scrollbar-button {
  /* display: none; */
} /* 스크롤 바 상 하단 버튼 */

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#app {
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* ============= header ================= */
.logo {
  font-size: 7rem;
  color: var(--header--color);
  font-weight: 800;
}

header {
  width: 100%;
  background-color: var(--header--background--color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__content {
  width: 90%;
  background-color: var(--header--background--color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header__content--year {
  font-size: 2rem;
  color: var(--header--text);
  text-align: center;
}

.header__date {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__date--next {
  outline: none;
  border: none;
  color: var(--header--border--color);
  font-size: 4rem;
  background-color: var(--header--background--color);
}

.header__date--next:hover {
  cursor: pointer;
  color: var(--header--color);
  text-decoration: underline;
}

.header__date--prev {
  outline: none;
  border: none;
  color: var(--header--border--color);
  font-size: 4rem;
  background-color: var(--header--background--color);
}

.header__date--prev:hover {
  cursor: pointer;
  color: var(--header--color);
  text-decoration: underline;
}

.header__date--list {
  display: flex;
  list-style: none;
  padding: 0.6rem;
  margin: 0;
}

.header__list__item__date {
  font-size: 1.5rem;
}

.header__list__item__day {
  font-size: 0.7rem;
}

.header__date--item {
  margin: 0.5rem;
}

.header__date--item--button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: none;
  border: 3px solid var(--header--border--color);
  background-color: var(--header--background--inner--color);
  border-radius: 50px;
  padding: 1rem 0.5rem;
  color: var(--header--text);
  width: 5rem;
}

.header__date--item--button:hover {
  cursor: pointer;
  background-color: var(--header--color);
  transform: scale(1.2);
  transition: 100ms ease-in;
}

.highlight {
  background-color: var(--header--color);
}

/* ============= content ================= */
.body__section {
  height: 100%;
  background-color: var(--header--background--inner--color);
  overflow: hidden;
}

.body__content {
  margin: auto;
  /* width: 90%; */
  max-width: 800px;
  margin-bottom: 3rem;
}
.body_content__div {
  max-width: 800px;
}
.body_record__div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.body_record__div__div {
  flex: 2;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
}
.body_record__div__input {
  width: 100%;
  padding: 0.2rem;
  margin-right: 1rem;
  outline: none;
  border: none;
  background-color: var(--header--background--inner--color);
  color: var(--header--text);
  font-size: 1.4rem;
  border-bottom: 2px solid var(--header--color);
}
.body_record__div__input::placeholder {
  color: transparent;
  color: var(--content--text--placeholder);
}

.body_record__div__button {
  padding: 0;
  border: none;
  outline: none;
  background-color: var(--header--background--inner--color);
  border: 2px solid var(--content--text--placeholder);
  border-radius: 10px;
  padding: 0.4rem;
}

.body_record__div__button:hover {
  border-color: var(--header--color);
}

.body_record__div__button:hover > i {
  color: var(--header--color);
}

.body_record__div--calender {
  position: relative;
  float: left;
  margin-top: 0.2rem;
}

.body_record__div__label {
  text-align: center;
  color: var(--content--text--placeholder);
  font-size: 1.2rem;
  display: block;
  width: 100%;
}

.body_record__div__input--date {
  outline: none;
  border: none;
  background-color: var(--header--background--inner--color);
  color: var(--content--text--placeholder);
  display: block;
}

.body_record__div__input--date {
  margin-top: -1em;
  opacity: 0;
}

input[type='date']::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
}

.body_content__div {
  margin: auto;
  width: 90%;
  height: 85%;
  overflow-y: scroll;
  overflow: auto;
}

.body_content__ul {
  padding: 0;
  list-style: none;
}

.body_content__li {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.body_content__li__span {
  /* flex: 1; */
  color: var(--content--dday--color);
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
}

.body_content__li__input {
  width: 75%;
  color: var(--header--text);
  outline: none;
  border: none;
  background-color: var(--header--background--color);
  font-size: 1.7rem;
  padding: 0.4rem;
  margin-right: 0.5rem;
  padding-left: 1rem;
  border-radius: 10px;
}

.body_content__li__button--edit,
.body_content__li__button--remove {
  padding: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: none;
  width: 5%;
  margin-right: 0.5rem;
  outline: none;
  border: 2px solid var(--header--background--inner--color);
  background-color: var(--header--background--inner--color);
  border-radius: 10px;
}
.body_content__li__button--edit:hover,
.body_content__li__button--remove:hover {
  border: 2px solid var(--content--text--placeholder);
  cursor: pointer;
}

.body_content__checkbox {
}
.deco {
  text-decoration: line-through;
  color: var(--content--check--color);
}

/*============== asome icon =======================*/
.fas.fa-plus {
  color: var(--content--text--placeholder);
}
.fa-trash-alt {
  color: var(--content--text--placeholder);
}
.fa-edit {
  color: var(--content--text--placeholder);
}
.fas.fa-plus.small,
.fas.fa-calendar-week.small,
.fas.fa-trash-alt.small,
.far.fa-edit.small {
  display: none;
}

/*=================footer============================*/
footer {
  display: flex;
  justify-content: center;
  background-color: var(--header--background--color);
  color: var(--header--text);
}
/* ===================== error =====================*/
.popup__error {
  color: red;
  font-size: 0.8rem;
  display: none;
}
.popup__error.error {
  display: inline;
}

@media screen and (max-width: 750px) {
  .header__div {
    width: 100%;
  }
  .header__content--year {
    margin: 0;
  }
  .header__date--list {
    width: 100%;
    flex-direction: column;
    padding: 0.1rem;
  }
  .header__date--item--button {
    width: 100%;
  }
  .header__date--item {
    margin: 0.2rem;
  }
  .header__date--item--button:hover {
    transform: scale(1);
    transition: none;
  }
  .header__date--item--button {
    padding: 0;
    flex-direction: row;
  }
  .header__list__item__date {
    margin-right: 0.2rem;
    font-size: 0.9rem;
  }
  .body_record__div {
    width: 80%;
    margin: auto;
  }
  .body_record__div--calender {
    margin-top: 0.4rem;
  }
  .body_content__li {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .body_content__li__input {
    font-size: 1rem;
    width: 100%;
  }
  .body_content__li__span {
    width: 100%;
    padding-bottom: 0.5rem;
    font-size: 1.4rem;
  }
  .body_content__checkbox {
    left: 0.4rem;
    margin-top: 0.7rem;
    position: absolute;
  }
  .body_content__li__button--edit {
    position: absolute;
    right: 4rem;
    width: 7%;
  }
  .body_content__li__button--remove {
    position: absolute;
    width: 7%;
    right: 0.5rem;
  }
  .far.fa-edit.fa-2x,
  .fas.fa-plus.fa-2x,
  .fas.fa-calendar-week.fa-2x,
  .fas.fa-trash-alt.fa-2x {
    display: none;
  }

  .fas.fa-plus.small,
  .fas.fa-calendar-week.small,
  .fas.fa-trash-alt.small,
  .far.fa-edit.small {
    display: block;
  }
}
