* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#app {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* ============= header ================= */
header {
  width: 100%;
  background-color: skyblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header__title {
  margin: 0.5rem 0 0.5rem;
}

.header__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}

.header__list__item {
  margin-left: 1rem;
}

.header__list__item:last-child {
  margin-right: 1rem;
}
.header__list__item > button {
  width: 3.5rem;
  height: 3.5rem;
  background-color: white;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 30%;
  font-size: 0.9rem;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}

.header__list__item > button:hover {
  border: 1px solid blue;
  border-radius: 30%;
  transform: scale(0.95);
  transition: 500ms ease;
}

/* ============= header popup ================= */
.head__popup {
  width: 100%;
  height: 100%;
  background-color: #606b6467;
  position: absolute;
  z-index: 1;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.head__popup__content {
  width: 30rem;
  height: 4rem;
  border-bottom: 3px solid #92e0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.head__popup__input {
  outline: none;
  border: none;
  border-radius: 30px;
  font-size: 1.5rem;
  width: 25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 0.5rem;
}

.head__popup__input::placeholder {
  opacity: 0.5;
}

.head__popup__add {
  outline: none;
  border: none;
  background-color: #5dd1ff;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  border-radius: 5px;
  margin-right: 0.3rem;
  font-weight: bolder;
  color: white;
  font-size: 15px;
}

.head__popup__close {
  font-weight: bolder;
  color: white;
  font-size: 1rem;
  outline: none;
  border: none;
  background-color: #5dd1ff;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  border-radius: 5px;
  margin-right: 0.3rem;
}

.head__popup__add:hover,
.head__popup__close:hover {
  border: 2px solid #47beec;
  border-radius: 5px;
}

/* ============= content ================= */
.content__section {
  height: 100%;
}
.content {
  /* display: flex; */
  /* align-items: center;
  justify-content: center;
  flex-direction: column; */
  width: 100%;
  height: 100%;
}

.content__box {
  /* width: 40rem; */
  height: 10rem;
}

.content__box__title {
  border: 2px solid teal;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
}

.content__box__body {
  background-color: teal;
}

.content__box__body > ul,
.content__box__body > ul > li {
  margin: 0;
}

@media screen and (max-width: 700px) {
  .content__box {
    width: 20rem;
  }
}
/* ===================== error =====================*/
.popup__error .error {
  display: none;
}
